---
permalink: "/rss.xml"
---
<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">
<channel>
	<title>Ethydev Blogs</title>
	<link>https://girl.but.gay</link>
	<description>TODO</description>
	{% assign sorted = collections.blog | sort: "data.date" | reverse %}
	{%- for blog in sorted %}
	<item>
		<title>{{ blog.data.title }}</title>
		<category>{{ blog.data.blog | capitalize }}</category>
		<link>https://girl.but.gay/blogs/{{ blog.data.blog }}/{{ blog.data.title | slugify }}</link>
		<description>{{ blog.content | strip_html | slice: 0,250 }}...</description>
		<pubDate>{{ blog.data.date }}</pubDate>
	</item>
	{%- endfor %}
</channel>
</rss>
